name: Build to Web
on: [push]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14

      - name: Compile Game
        run: |
          # Removed --preload-file assets since you don't have one yet
          emcc main.cpp -o index.html \
          -s USE_SDL=2 \
          -s USE_SDL_IMAGE=2 \
          -s SDL2_IMAGE_FORMATS='["png","jpg"]' \
          -s SINGLE_FILE=1

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
